@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  src: local('Indie Flower'), local('IndieFlower'), url(https://fonts.gstatic.com/s/indieflower/v10/m8JVjfNVeKWVnh3QMuKkFcZVaUuC.ttf) format('truetype');
}
.flexCol {
  display: flex;
  flex-direction: column;
}
.flexRow {
  display: flex;
  flex-direction: row;
}
.center {
  justify-content: center;
  align-items: center;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.main .navbar {
  background: black;
}
.main .navbar .navbar-brand {
  color: white;
  font-family: 'Indie Flower', cursive;
}
.main .navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRp4IRiMDnFaPsvKL9-KHIi9zeaVtXWF4shd-jAYWiD2Pjjrt3b');
}
.main .navbar .collapse .navbar-nav .nav-item .nav-link {
  color: white;
  font-family: 'Indie Flower', cursive;
}
.main .navbar .collapse .navbar-nav .nav-item .nav-link:hover {
  color: gray;
}
.main .navbar .collapse .navbar-nav .active .nav-link {
  color: gray;
}
.header .signup .action-head {
  font-size: 3.6rem;
  text-align: center;
  margin-top: 30px;
  font-family: 'Indie Flower', cursive;
}
.header .signup .phrase {
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
}
.header .signup .quote {
  text-align: center;
}
.signup-btn {
  display: flex;
  flex-direction: row;
  background: black;
  width: 100%;
  height: 60.3vh;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}
.signup-btn .react-btn {
  border: 2px solid white;
  background: black;
  height: 3.5rem;
  width: 15rem;
  border-radius: 20px;
  color: white;
}
