.about {
    .flexCol;
    .about-header {
        text-align: center;
        font-family: 'Indie Flower', cursive;
        font-size: 4.6rem;
        margin-top: 30px;
    }
    
    .flash-quotes {
        .flexCol;
        .center;
        background: @black-back;
        color: @font-color;
        height: 200px;
        margin-top: 20px;

        .carousel {

            .carousel-inner {

                .carousel-item {
                    opacity: 0;
                    transition: opacity 3s ease-out;
                    .active {
                        opacity: 1;
                        transition: opacity 1s ease-in;
                    }
                    .quote {
                        font-size: 2rem;
                        text-align: center;
                    }
                }
            }
        }
    }
}

