.main {

    .navbar {
        background: black;
        .navbar-brand {
            color: white;
            font-family: 'Indie Flower', cursive;
        }
        .navbar-toggler {

            .navbar-toggler-icon {
                background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRp4IRiMDnFaPsvKL9-KHIi9zeaVtXWF4shd-jAYWiD2Pjjrt3b')
            }
        }
        .collapse {
    
            .navbar-nav {
                
                .nav-item {
    
                    .nav-link {
                        color: white;
                        font-family: 'Indie Flower', cursive;
                        &:hover {
                            color: gray;
                        }
                    }
                }
                .active {
                    .nav-link {
                        color: gray;
                    }
                }
            }
        }
    }
    
}